html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: #eee;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.city {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 4vw;
  overflow: auto;
  transform-style: preserve-3d;
  perspective: 200px;
  perspective-origin: center;
}

.block {
  position: relative;
  width: calc(50vw - 12vw);
  height: calc(50vw - 12vw);
  margin: 4vw;
  background-color: #eee;
  box-shadow:
    0 0 0 1.25vw #fff,
    0 0 0 3.875vw #eee,
    0 0 0 4.125vw #fff,
    0 0 0 6.75vw #eee,
    0 0 0 8vw #fff;
}

.block.double-wide {
  width: 100vw;
}

.intersection {
  position: absolute;
  display: block;
  width: 7vw;
  height: 7vw;
  background-color: #eee;
  border: 2px dashed #fff;
  box-shadow:
    inset 0 0 0 0.25vw #eee,
    inset 0 0 0 0.5vw #fff,
    0 0 0 0.25vw #eee,
    0 0 0 0.5vw #fff;
}

.intersection:nth-child(1) {
  top: -7.5vw;
  left: -7.5vw;
}

.intersection:nth-child(2) {
  top: -7.5vw;
  right: -7.5vw;
}

.intersection:nth-child(3) {
  bottom: -7.5vw;
  left: -7.5vw;
}

.intersection:nth-child(4) {
  bottom: -7.5vw;
  right: -7.5vw;
}

.intersection:nth-child(5) {
  top: -7.5vw;
  left: calc(50% - 3.5vw);
}

.intersection:nth-child(6) {
  bottom: -7.5vw;
  right: calc(50% - 3.5vw);
}

.vehicle {
  position: absolute;
  z-index: 1;
  top: -3.5vw;
  left: -3.5vw;
  width: 3.5vw;
  height: 2vw;
  transform-origin: 50% 3.5vw;
  background-color: #fff;
  animation: drive 16s linear infinite;
}

/*.double-wide .vehicle {
  animation: drive-wide 16s linear infinite;
}

.block .vehicle:nth-child(2) {
  animation-delay: -8s;
}

.block:not(.double-wide) + .block:not(.double-wide) .vehicle:nth-child(1) {
  animation-delay: -1s;
}

.block:not(.double-wide) + .block:not(.double-wide) .vehicle:nth-child(2) {
  animation-delay: -10s;
}

@keyframes drive {
  0% { transform: translate(1.75vw, 0) rotate(0); }
  30% { transform: translate(39.875vw, 0) rotate(0); }
  33% { transform: translate(39.875vw, 0) rotate(90deg); }
  42% { transform: translate(39.875vw, 38.125vw) rotate(90deg); }
  45% { transform: translate(39.875vw, 38.125vw) rotate(180deg); }
  63% { transform: translate(1.875vw, 38.125vw) rotate(180deg); }
  66% { transform: translate(1.75vw, 38.125vw) rotate(270deg); }
  97% { transform: translate(1.75vw, 0) rotate(270deg); }
  100% { transform: translate(1.75vw, 0) rotate(360deg); }
}

@keyframes drive-wide {
  0% { transform: translate(1.875vw, 0) rotate(0); }
  30% { transform: translate(85.875vw, 0) rotate(0); }
  33% { transform: translate(85.875vw, 0) rotate(90deg); }
  42% { transform: translate(85.875vw, 38.125vw) rotate(90deg); }
  45% { transform: translate(85.875vw, 38.125vw) rotate(180deg); }
  63% { transform: translate(1.75vw, 38.125vw) rotate(180deg); }
  66% { transform: translate(1.75vw, 38.125vw) rotate(270deg); }
  97% { transform: translate(1.75vw, 0) rotate(270deg); }
  100% { transform: translate(1.75vw, 0) rotate(360deg); }
}

.buildings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5vw;
}

.building {
  position: relative;
  float: left;
  width: 10vw;
  height: 10vw;
  margin: 1vw;
  box-shadow:
    0 1vw 5vw rgba(0,0,0,0.1),
    0 0.5vw 1vw rgba(0,0,0,0.05),
    0 0 0.25vw rgba(0,0,0,0.1);
}

.building .extrusion {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  border: 0.5vw solid rgba(0,0,0,0.075);
  border-top-color: rgba(0,0,0,0.05);
  border-bottom-color: rgba(0,0,0,0.05);
}

.building .extrusion:last-child {
  background-color: #fff;
  border: none;
  background-image:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0),
      rgba(0,0,0,0.04)
    );
  border: 1px solid rgba(0,0,0,0.075);
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
